body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    #wave-plot {
        filter: invert(100%) hue-rotate(180deg);
    }
}