#wave-map, #wave-video, #wave-plot {
    height: 100%;
    width: 100%;
}

.collapsed {
    display: none;
}

.togglebutton-right {
    border: thin black solid;
    border-bottom: none;
}

#wave-list:not(.collapsed) {
    width: 25em;
    overflow-y: scroll;
}

#wave-list-titlebar-container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#wave-list-togglebutton {
    float: left;
    clear: both;
    border: thin black solid;
    border-left: none;
}

#wave-map-titlebar, #wave-video-titlebar, #wave-plot-titlebar {
    display: flex;
    justify-content: space-between;
}

#wave-display {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}