body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    margin: 0;
}

#wave-video, #wave-map, #wave-plot {
    position: relative;
    width: 100%;
    height: 100%;
}

.lm_content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
    #wave-plot {
        filter: invert(100%) hue-rotate(180deg);
    }
}