#wave-map:not(.collapsed):not(.fullheight), #wave-video:not(.collapsed):not(.fullheight) {
    height: 46%;
    width: 100%;
}

.collapsed {
    display: none;
}

.fullheight {
    height: 92%;
    width: 100%;
}

.togglebutton-right {
    border: thin black solid;
    border-bottom: none;
}
 #wave-list:not(.collapsed) {
     width: 25em;
     overflow-y: scroll;
 }
#wave-list-titlebar-container {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
#wave-list-togglebutton {
    float: left;
    clear: both;
    border: thin black solid;
    border-left: none;
}
#wave-map-titlebar, #wave-video-titlebar{
    display: flex;
    justify-content: space-between;
}