body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    margin: 0;
}

#wave-map-titlebar, #wave-plot-titlebar {
    z-index: 1000;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    #wave-plot {
        filter: invert(100%) hue-rotate(180deg);
    }
}